.page-wrapper{
    gap: 30px;
}

.expense-status{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    padding: 20px 20px;
    /* background-color: #5F6367; */
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px;
    gap: 10px;
}

.expense-balance-holder{
    border: 1px solid ;
    text-align: center;
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #121212;
}

.expense-status-btn-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    /* flex-direction: column; */
}

.expense-btn{
    width: 50%;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #121212;
    border: none;
    box-shadow: 0px 0px 1px 0px;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}

.expense-btn:hover{
    background-color: blue;
}

.expense-add-money:hover{
    /* border: 1px solid green; */
    background-color: green;
    color: white;

}

.expense-add-expense:hover{
    /* border: 1px solid red; */
    color: white;
    background-color:red ;
}
.expense-input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.expense-input-holder{
    display: flex;
    gap: 10px;
}
.expense-input{
    width: 50%;
    border-radius: 8px;
    background-color: #5F6367;
    color: black;
    border: none;
    box-shadow: 0px 0px 2px 0px;
    padding: 10px 20px;
    background-color: white;
    /* outline: none; */
}
.expense-comment{
    width: 100%;
}

.expense-transactions-holder{
    width: 40vw;
    padding: 20px 20px;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expense-transaction{
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}


@media screen and (max-width:600px) {
    .expense-status{
        width: 90vw;
    }
    
    .expense-transactions-holder{
        width: 90vw;
    }
}